.article  {
    word-spacing: 5px;
    font-size: 1rem;
    line-height:2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}


.article p img {
    width: 100%
}


@media screen and (max-width: 450px) {
    .article {
        width:22rem
    }
    .article p img {
        width: 18rem
    }
    .article ol li img{
        width: 12rem;
    }
  }